{#-
  Language picker for 繁體中文.
-#}
{% macro t(key) %}{{ {
  "direction": "ltr",
  "search.language": "zh",
  "search.pipeline.stopwords": "False",
  "search.pipeline.trimmer": "False",
  "search.tokenizer": "[\s]+",
  "search.config.pipe": "False",
  "search.config.separator": "[\s\-\.]+",
  "search.config.boost": "1.0",
  "search.config.title.boost": "1.5",
  "search.config.content.boost": "1.0",
  "search.config.tags.boost": "1.0",
  "toc.title": "本頁目錄",
  "navigation.home": "首頁",
  "navigation.previous": "上一頁",
  "navigation.next": "下一頁",
  "search.result.placeholder": "搜尋",
  "search.result.none": "沒有符合的結果",
  "search.result.one": "1 個符合的結果",
  "search.result.other": "# 個符合的結果",
  "search.result.term.missing": "缺少",
  "skip.link.title": "跳至內容",
  "source.view.title": "檢視儲存庫",
  "source.edit.title": "編輯此頁",
  "source.file.title": "檢視此頁的原始檔",
  "source.revision.date": "最後更新",
  "source.comments.title": "留言",
  "source.revision.link": "檢視 commit",
  "footer.previous": "上一頁",
  "footer.next": "下一頁",
  "footer.title": "上一頁與下一頁",
  "clipboard.copy": "複製到剪貼簿",
  "clipboard.copied": "已複製到剪貼簿",
  "consent.title": "Cookie 同意",
  "consent.description": "我們使用 Cookie 來識別您的重複造訪和偏好設定。",
  "consent.accept": "接受",
  "consent.learn_more": "瞭解更多",
  "menu.title": "選單",
  "language": "語言"
}[key] or key }}{% endmacro %}
