{#-
  Language picker for 简体中文.
-#}
{% macro t(key) %}{{ {
  "direction": "ltr",
  "search.language": "zh",
  "search.pipeline.stopwords": "False",
  "search.pipeline.trimmer": "False",
  "search.tokenizer": "[\s]+",
  "search.config.pipe": "False",
  "search.config.separator": "[\s\-\.]+",
  "search.config.boost": "1.0",
  "search.config.title.boost": "1.5",
  "search.config.content.boost": "1.0",
  "search.config.tags.boost": "1.0",
  "toc.title": "本页目录",
  "navigation.home": "首页",
  "navigation.previous": "上一页",
  "navigation.next": "下一页",
  "search.result.placeholder": "搜索",
  "search.result.none": "没有符合的结果",
  "search.result.one": "1 个符合的结果",
  "search.result.other": "# 个符合的结果",
  "search.result.term.missing": "缺少",
  "skip.link.title": "跳至内容",
  "source.view.title": "查看存储库",
  "source.edit.title": "编辑此页",
  "source.file.title": "查看此页的源文件",
  "source.revision.date": "最后更新",
  "source.comments.title": "留言",
  "source.revision.link": "查看 commit",
  "footer.previous": "上一页",
  "footer.next": "下一页",
  "footer.title": "上一页与下一页",
  "clipboard.copy": "复制到剪贴板",
  "clipboard.copied": "已复制到剪贴板",
  "consent.title": "Cookie 同意",
  "consent.description": "我们使用 Cookie 来识别您的重复访问和偏好设置。",
  "consent.accept": "接受",
  "consent.learn_more": "了解更多",
  "menu.title": "菜单",
  "language": "语言"
}[key] or key }}{% endmacro %}
